<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!-- Title  -->
    <title>PsychoMetricaX</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,600,700" rel="stylesheet">
    <!-- Plugins -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/plugins.css') }}">
    <!-- Main Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>
<body>
<!-- Start Page Preloader -->
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_four"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_one"></div>
        </div>
    </div>
</div>
<!-- End Page Preloader -->
<!-- Start Navigation -->
<nav class="navbar navbar-expand-lg" style="background-color: #090a0a;">
    <div class="container">
        <!-- Start Logo -->
        <div style="display: flex; align-items: center;">
            <img src="../static/assets/img/logo.png" alt="" style="width: 60px;">
            <a class="logo" href="home.html" style="width:unset;  ">
               <h4>PsychoMetricaX</h4>
            </a>
        </div>
        <!-- End Logo -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>
        <!-- Start Menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <span class="nav-link active"><a href="/home.html"> Home</a></span>
                </li>
                <li class="nav-item dropdown">
                    <span class="nav-link"><a href="/aboutus.html"> About us</a></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactus.html">Contact us</a>
                </li>
            </ul>
            
        </div>
        <!-- End Menu -->
    </div>
</nav>
<!-- End Navigation -->
<!-- Start Header -->
<header class="header slider-fade">
    <div class="owl-carousel owl-theme">
        <div class="text-center item bg-img" data-overlay-dark="5" data-background="{{ url_for('static', filename='assets/img/b.png') }}">
            <div class="v-middle caption mt-30">
                <div class="o-hidden">
                    <h4></h4>
                    <h1 class="slid">PsychoMetricaX</h1>
                    <p></p>
                    <a href="/login.html" class="butn butn-light mt-30">
                        <span>Login</span>
                    </a>
                    <a href="/signup.html" class="butn butn-bg mt-30">
                        <span>Sign Up</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center item bg-img" data-overlay-dark="5" data-background="{{ url_for('static', filename='assets/img/a2.png') }}">
            <div class="v-middle caption mt-30">
                <div class="o-hidden">
                    <h4></h4>
                    <h1 class="slid">Welcome to.......</h1>
                    <p style="color: black;"> Aptitiude assessment portal</p>
                    <a href="/login.html" class="butn butn-light mt-30">
                        <span>Login</span>
                    </a>
                    <a href="/signup.html" class="butn butn-bg mt-30">
                        <span>Sign Up</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center item bg-img" data-overlay-dark="5" data-background="{{ url_for('static', filename='assets/img/o.png') }}">
            <div class="v-middle caption mt-30">
                <div class="o-hidden">
                    <h1 class="slid">Analyze your Personality</h1>
                    <h4 class="slid">With us...</h4>
                   
                    <a href="/login.html" class="butn butn-light mt-30">
                        <span>Login</span>
                    </a>
                    <a href="/signup.html" class="butn butn-bg mt-30">
                        <span>Sign Up</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->

<!-- Start Hero -->
<section class="hero section-padding">
    <div class="container">
        <div class="row">
            <div class="intro offset-lg-1 col-lg-10 text-center mb-15">
                <h3>About PsychoMetricaX</h3>
                <p style="    text-align: justify;">PsychometricaX is an innovative platform at the forefront of the intersection between psychology and artificial intelligence. This cutting-edge system is designed to revolutionize the field of personality analysis, offering advanced capabilities for understanding and profiling individuals based on their textual responses. The project places a primary focus on leveraging machine learning techniques, particularly the Naïve Bayes algorithm, to provide in-depth insights into various dimensions of a person's personality.</p>
            </div>
            
        </div>
    </div>
</section>

<!-- Features & Services -->

<section class="hero section-padding">
    <div class="container">
        <div class="row">
            <div class="intro offset-lg-1 col-lg-10 text-center mb-15">
                <h3>Features & Services</h3>
            
            
            <div class="row py-4 align-items-center">
                <div class="col">
                    <div class="row align-items-center">
                        <div class="col pl-4">
                            <span style="font-size: 21px;" class="featureHeading">Customized Personality Assessment</span>
                            <p id="featureContent" class="py-2">The system offers personalized assessment questions tailored to individual user requirements.</p>
                        </div>
                    </div>
                </div>
                <div class="col art">
                    <img id="conceptArt" src="../static/img/Features/11.png" style="border-radius: 22px;" alt="graphs">
                </div>
            </div>
        
            <div class="row py-4 align-items-center">
                <div class="col art">
                    <img id="conceptArt" src="../static/img/Features/22.png" style="border-radius: 22px;" alt="graphs">
                </div>
                <div class="col">
                    <div class="row align-items-center">
                        <div class="col pl-4">
                            <span style="font-size: 21px;" class="featureHeading">Multidimensional Profiling</span>
                            <p id="featureContent" class="py-2">Profiling individuals across multiple dimensions of their personality, providing a detailed analysis of each trait.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-4 align-items-center">
                <div class="col">
                    <div class="row align-items-center">
                        <div class="col pl-4">
                            <span style="font-size: 21px;" class="featureHeading">Report Generation</span>
                            <p id="featureContent" class="py-2">Generate detailed reports summarizing personality assessment results, offering users a comprehensive view of their traits and characteristics.</p>
                        </div>
                    </div>
                </div>
                <div class="col art">
                    <img id="conceptArt" src="../static/img/Features/33.png" style="border-radius: 22px;" alt="graphs">
                </div>
            </div>

            <div class="row py-4 align-items-center">
                <div class="col art">
                    <img id="conceptArt" src="../static/img/Features/44.png" style="border-radius: 22px;" alt="graphs">
                </div>
                <div class="col">
                    <div class="row align-items-center">
                        <div class="col pl-4">
                            <span style="font-size: 21px;" class="featureHeading">Integration with Other Platforms</span>
                            <p id="featureContent" class="py-2">Exploring integration options with other platforms or services for enhanced functionality.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>


<!-- Start Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="info mb-md50" style="text-align: -webkit-center;">
                    <!-- Start Logo -->
                    <a class="logo pb-3" href="home-1.html" style="width: unset;">
                        <h4>Get the best out of you, with PsychoMetricaX </h4>
                    </a>
                    <!-- End Logo -->
                    <p>The best career guidance and educational resources with highly trained teaching and non-teaching staffs. The amendments made to the curriculum on a regular basis will increase the adaptability and confidence of applicants.</p>
                    <div class="social">
                        <span>Social: </span>
                        <a href="#" class="icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-behance"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer text-center">
        <p>&copy; 2024 <b>PsychoMetricaX</b>. All Rights Reserved.</p>
    </div>
</footer>
<!-- End Footer -->
<!-- JQuery JS -->
<script src="{{ url_for('static', filename='assets/js/jquery-3.0.0.min.js') }}"></script>
<script src="assets/js/jquery-migrate-3.0.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
<!-- Scroll JS -->
<script src="{{ url_for('static', filename='assets/js/scrollIt.min.js') }}"></script>
<!-- Owl Carousel JS -->
<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
<!-- Scripts JS -->
<script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>
</body>

</html>
